html {
   background-image: url(casino_chips.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   background-position: top;

}

h1 {
  font-weight: 900;
  text-decoration: underline 5px #d20202;
  text-align: center;
  color: white;
  font-size: 4em;
  margin: 20px ;
  letter-spacing: 2px;
}

.controls {
text-align: center;
color: white;
letter-spacing: 1px;
}

hr {
    border: 2px solid;
    margin: 10px 100px;
    
}

#result{
    text-align: center;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 48px;

}

#deal, #reset {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 25px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid;
  letter-spacing: 1px;
  
}

.deal:hover{
    background-color: #d20202;
    color: white;
    text-transform: uppercase;
}

.reset:hover{
    background-color: #001eff;
    color: white;
    text-transform: uppercase;
}

.players, .computer {
  font-weight: 600;
  margin: 50px;
  
}

input[type=radio] {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 6px;
  cursor: pointer;
}

.players {
    text-align: center;
    color: white;
  position: absolute;
  top: 20%;
  left: 15%;
  letter-spacing: 2px;
}

.computer {
    text-align: center;
    color: white;
  position: absolute;
  top: 20%;
  left: 70%;
  letter-spacing: 2px;
}


.score{ 
    border: 5px solid;
    border-radius: 100px;
    background-color: black;
    padding: 20px;
    font-size: 5em;
    font-weight: 200;
    position: relative;
    top: 380px;
    left: 20px;

}


.cards {
  position: relative;
  padding-top: 30px;
}

.card {
  width: 120px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 40px;
  /* rotate: z 20deg; */
  scale: 0.8
}



@media only screen and (max-width: 600px) {

}



@media (min-width: 768px) and (max-width: 1024px){

}


 




